.bio {
    margin-left: 20px; /* Adjust the value to move content further or closer to the right */
  }

label {
    display: flex;
    align-items: center;
}

a {
    color: #F5C518;
}

/* Home */
.card-custom-green {
    background-color: #177E89;
    color: white;
}
.card-custom-blue {
    background-color: #084c61;
    color: white;
}

table td {
    border: 1px solid #000000;
}

body {
    background-color: #070707; /* Change this color to your desired background color */
}

.navbar a {
    color: #F5C518; /* Ensure links within the navbar also have the desired color */
    font-size: 20px; /* Adjusts the font size */
    font-family: 'Amazon Ember'; /* Adjusts the font family */
}

.pdf a {
    color: #F5C518; /* Ensure links within the navbar also have the desired color */
    font-size: 20px; /* Adjusts the font size */
    font-family: 'Amazon Ember'; /* Adjusts the font family */
}